.hint {
	font-family: Roboto;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: var(--light-grey-blue);
    margin: auto;
    margin-bottom: 32px;
}

.success-msg {
    margin-top: 15px !important;
}