.modal-title {
    margin-bottom: 5px;
}

p {
	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.1px;
	color: var(--slate-grey);
    margin-bottom: unset;
}

.btn-danger {
    margin-top: 50px;
}

.success-msg {
    width: 100%;
}
