<div class="modal-body clearfix">
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true"><img src="assets/images/ic-closs.png"></span>
  </button>
  <h4 class="modal-title">Filters</h4>
  <p>Set one or more options to find the desired task or tasks. For example, all task in status "Done" and "Closed" in
    release 1.0.</p>
  <form [formGroup]="type">
    <div class="form-group">
      <input type="text" class="form-control" formControlName="key" placeholder="Key">
      <label [ngClass]="{'show': type.value.key.length > 0}">Key</label>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="taskName" placeholder="Task Name">
      <label [ngClass]="{'show': type.value.taskName.length > 0}">Task Name</label>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="assignee" placeholder="Assignee">
      <label [ngClass]="{'show': type.value.assignee.length > 0}">Assignee</label>
    </div>
  </form>
  <div class="row">
    <div class="col col-6">
      <button type="submit" class="btn btn-outline-success" (click)="saveSearch()" [disabled]="!type.valid">Save this
        Search</button>
    </div>
    <div class="col col-6">
      <button type="submit" class="btn btn-success" (click)="applyFilters()" [disabled]="!type.valid">Apply
        Filters</button>
    </div>
  </div>
</div>